:root{--background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,0.07);
    --background-tinted-highlight: hsla(0,0%,100%,0.1);
    --background-tinted-press: hsla(0,0%,100%,0.04);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
    }
*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    
}
main{
    position: relative;
    width:100%;
    height: 100%;
    font-size: 18px;
  
}

#side-container{
    position: absolute;
    left:0;
    top:0;
    width:18vw;
    height:100vh;
    padding: 15px;
    padding-bottom: 80px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.side-container-header{ 
    color: white;
    display: flex;
    align-items: center;
}
.fa-spotify{
    font-size:xx-large;
}
.side-container-header>h2{
    margin-left:7px;
}

.side-container-content{
    list-style: none;
   margin-top: 20px;
}
.content-items{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
}
.content-item-logo{
    flex:0.17;
    font-size: x-large;
}

.content-item-text{
    flex: 0.83;
}

.side-container-info{
    margin-top: 20px;
    border-top: 1px solid grey;
    padding-top: 10px;
  
}
.side-container-info > li{

margin-top: 100px;
}

